.container-task {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--login-component);
  box-shadow: 5px 5px 10px var(--border-color);
  width: 60%;
  height: 14rem;
  margin: 0 auto;
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.task-card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--task);
  padding: 2rem;
}

.cards-buttons {
  margin: 0 auto;
  float: right;
}

.close-card-button {
  border-radius: 5px;
  font-size: 1.8rem;
  margin-right: 1rem;
  color: var(--red-color);
}

.edit-pencil {
  border-radius: 5px;
  font-size: 1.7rem;
  margin-right: 1rem;
  color: var(--black-color);
}

@media screen and (max-width: 1024px) {
  .container-task {
    width: 80%;
    height: 29rem;
  }
}

@media screen and (max-width: 450px) {
  .container-task {
    width: 90%;
    height: 30rem;
  }
}

@media screen and (max-width: 1024px) {
  .container-task {
    flex-direction: column;
  }
}
